// grid
$grid-spacing:3%;

/** ////colour variables start */
/** //global colours */
$grey: #555;
$lightGrey: #999;
$extraLightGrey: #E7E7E7;
$darkGrey: #333;
$white: #fff;
$black: #000;
/** //body copy colour */
$bodyCopy: #575757;

$mandy: #EA495C;
$flamePea: #DC5827;
$halfBaked: #83CBCE;
$persianGreen: #009B9B;
$goldenDream: #EED923;
$qunicy: #5E3A29;

$mainColor: $mandy;
